html{
    background-color: black;
}
h1{
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
    text-transform: capitalize;
}
p{
    font-family: 'Playfair Display', serif;
    color: white;
    text-align: center;
}
img{
    width: 100%;
    border: solid white;
    border-width: 5px;
}
div{
    margin-top: 100px;
    width: 50%;
    margin-left: 25%;
}